[[extend 'layout.html']]

<style>
    a.github:link, a.github:visited {
        color: #171515;
        text-decoration: none;
    }

    a.github:hover {
        color: #070505;
    }

    a.instagram:link, a.instagram:visited{
        color: #c13584;
    }

    a.instagram:hover {
        color: #810544;
    }

    a.linkedin:link, a.linkedin:visited {
        color: #0e76a8;
        text-decoration: none;
    }

    a.linkedin:hover {
        color: #0e3668;
    }

    .box {
        height: 100%;
    }

    .theGang {
        text-align: center;
    }

    .theGang img {
        border: 5px solid #5050ff;
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }
</style>

<div class="section is-size-5">
    <h1 class="title is-1">About Find My Pet</h1>
    Welcome to Find My Pet!
    Here, if you lost your pet, you may create a post to reach out to people living within your vicinity who can help the search.
    Also, if you found a pet, you can post to connect with the owner.
    If neither of those situations apply to you, you may help out with the search by looking around your area and posting comments if you have any updates or advice.<br><br>

    <h2 class="title is-2">The Gang</h2>
    <div class="columns is-centered theGang">
        <div class="column is-one-third">
            <div class="box">
                <img src="../static/images/jlow.jpg"><br>
                <h3 class="title is-3">Jacob Low</h3>
                Founder, focusing on databases.<br>
                <a class="linkedin" href="https://www.linkedin.com/in/jacob-low-b40936203" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>&ensp;
                <a class="github" href="https://github.com/jadlow/" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>&ensp;
                <a class="instagram" href="https://www.instagram.com/jacoblow_/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="box">
                <img src="../static/images/jwang.jpg"><br>
                <h3 class="title is-3">Junchen Wang</h3>
                Focusing on layout and content.<br>
                <a class="linkedin" href="https://www.linkedin.com/in/jchen-wang" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>&ensp;
                <a class="github" href="https://github.com/chen858858/" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="box">
                <img src="../static/images/noprofpic.svg"><br>
                <h3 class="title is-3">Anjali Prabha</h3>
                Focusing on layout and search.<br>
                <a class="github" href="https://github.com/Anj-Pra" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="columns is-centered theGang">
        <div class="column is-one-third">
            <div class="box">
                <img src="../static/images/sloi.jpg"><br>
                <h3 class="title is-3">Spencer Loi</h3>
                Focusing on maps.<br>
                <a class="linkedin" href="https://www.linkedin.com/in/spencer-loi" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="box">
            <img src="../static/images/noprofpic.svg"><br>
                <h3 class="title is-3">Vinh Le</h3>
                Focusing on users.<br>
                <a class="linkedin" href="https://www.linkedin.com/in/vinh-le-827147196" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>