[[extend 'layout.html']]

<style>
    .theGang {
        text-align: center;
    }
    .theGang img {
        border: 5px solid #5050ff;
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }
    a.linkedin:link, a.linkedin:visited{
        color: #0e76a8;
        text-decoration: none;
    }
</style>

<div class="section is-size-5">
    <h1 class="title is-1">About Find My Pet</h1>
    Welcome to Find My Pet!
    Here, if you lost your pet, you may create a post to reach out to people living within your vicinity who can help the search.
    Also, if you found a pet, you can post to connect with the owner.
    If neither of those situations apply to you, you may help out with the search by looking around your area and posting comments if you have any updates or advice.<br><br>

    <h2 class="title is-2">The Gang</h2>
    <div class="columns is-centered theGang">
        <div class="column is-one-third">
            <div class="box">
                <img src="../static/images/jlow.jpg"><br>
                <h3 class="title is-3">Jacob Low</h3>
                Founder, database.<br>
                <a class="linkedin" href="https://www.linkedin.com/in/jacob-low-b40936203" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="box">
                <img src="../static/images/noprofpic.svg"><br>
                <h3 class="title is-3">Junchen Wang</h3>
                Layout and CSS.<br>
                <a class="linkedin" href="https://www.linkedin.com/in/jchen-wang" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="box">
                <img src="../static/images/sloi.jpg"><br>
                <h3 class="title is-3">Spencer Loi</h3>
                Feedback and advice.<br>
                <a class="linkedin" href="https://www.linkedin.com/in/spencer-loi" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="columns is-centered theGang">
        <div class="column is-one-third">
            <div class="box">
                <img src="../static/images/noprofpic.svg"><br>
                <h3 class="title is-3">Anjali Prabha</h3>
                Layout.
            </div>
        </div>
        <div class="column is-one-third">
            <div class="box">
            <img src="../static/images/noprofpic.svg"><br>
                <h3 class="title is-3">Vinh Le</h3>
                ?
            </div>
        </div>
</div>