[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section has-background-grey-light" id="vue-target" v-cloak>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-3 is-vertical">
            <div class="box">
                <h1 class="title">Search</h1>
                <label class="label">Set Location Coordinates</label>
                <input id="locInp" placeholder="Ex: 33, 67" type="text" v-model="query" @blur="search" class="input is-info">
                <div class="has-text-danger" v-if="coord_inv">
                    Location coordinates are invalid. Error {{ error_message }}
                </div>
                <label class="label">Radius</label>
                <input id="distRangeSlider" v-model="slipslide" class="slider is-fullwidth" min="0.0" max="50.0" value="10.0" step="10.0" type="range">
                <div> {{ slipslide }} mi </div>
                <div class="field">
                    <label class="label">Lost or Found</label>
                    <input type="checkbox" id="l" v-model="search_lorf" value="lost" >
                    <label for="l">Lost</label>
                    <input type="checkbox" id="f" v-model="search_lorf" value="found" >
                    <label for="f">Found</label>
                </div>
                <label class="label">Type Pet</label>
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select v-model="pet_type">
                            <option selected>Select Pet Type</option>
                            <option>Dog</option>
                            <option>Cat</option>
                            <option>Bird</option>
                            <option>Rodent</option>
                            <option>Reptile</option>
                            <option>Rabbit</option>
                            <option>Pet Livestock</option>
                            <option>Aquatic</option>
                            <option>Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="button is-link" @click="lost_found">Search</button>
            </div>
        </div>
        <div class="row columns is-multiline is-mobile">
                <div class="column is-4" v-for="row in pets">
                    <!--Display Pets Section-->
                    <div class="box">
                        <div class="block is-mobile">

                            <!--Post Header-->
                            <div class="columns is-size-4">
                                <div class="column"></div>
                                <div class="column is-size-3 has-text-centered mg-small">{{ row.pet.pet_name }}</div>
                                <div class="column has-text-right" v-if="row.pet.user_email == '[[=current_user_email]]'">
                                    <a :href="row.edit_url">
                                        <i class="fa fa-fw fa-pencil"></i>
                                    </a>
                                    <a class="has-text-danger" :href="row.delete_url">
                                        <i class="fa fa-fw fa-trash"></i>
                                    </a>
                                </div>
                                <div class="column has-text-right" v-else>
                                </div>
                            </div>

                            <!--Post Image Display-->
                            <figure class="image">
                                <img style="border-radius:4px; width: 100%; height: 400px; object-fit: contain;" :src=row.pet.signed_url>
                            </figure>
                            <br>
                            <!--Location Display-->
                            <iframe width="100%" :src="row.map_display_url" style=" border-radius: 4px; height: 200px; width: 100%;"></iframe>
                            <div class="columns is-size-5">
                                <div class="column">
                                    <a :href="row.map_url">
                                        <i class="fa fa-fw fa-map-marker"></i>
                                        {{ row.pet.pet_lat }},
                                        {{ row.pet.pet_lng }}
                                    </a>
                                </div>
                                <div class="column has-text-danger has-text-right">
                                    Lost on: {{ row.pet.pet_lostfound_date }}
                                </div>
                            </div>
                        </div>
                        <!--Maximize Post-->
                        <div class="is-size-2 has-text-centered" v-if="row.show_details == false" @click="show_details(row._idx, true)">
                            <i class="fa fa-angle-down has-text-info"></i>
                        </div>
                        <!--Display Comments Section-->
                        <div class="block" v-if="row.show_details == true">
                            <div class="subtitle">
                                <div class="content is-size-5">
                                    {{ row.pet.description }}
                                </div>
                                <span class="is-size-5 has-text-info-dark">Contact Information</span>
                                <div class="is-size-6" v-for="user in users">
                                    <div v-if="user.email == row.pet.user_email">
                                        <span class="is-size-5">{{ row.contact_name }}</span> <br>
                                        <i class="fa fa-envelope has-text-info-dark"></i> {{ row.pet.user_email }}
                                    </div>
                                </div>
                            </div>
                            <div v-for="comment in comments">
                                <div v-if="comment.pet_id == row.pet.id">
                                    <div class="box">
                                        <div v-if="comment.user_email == '[[=current_user_email]]'">
                                            <div class="control" :class="{'is-loading': comment._state === 'pending'}">
                                                <textarea class="textarea" rows="2" style="resize: vertical" v-model="comment.post_text"
                                                        :class="{
                                                            'is-focused': comment._state === 'edit',
                                                            'is-static': comment._state === 'clean',
                                                        }"
                                                       :readonly="comment._state === 'clean'"
                                                       @click="start_edit(comment._idx)"
                                                       @blur="stop_edit(comment._idx)"
                                                ></textarea>
                                            </div>
                                        </div>
                                        <div v-if="comment.user_email != '[[=current_user_email]]'">
                                            {{ comment.post_text }}
                                        </div>
                                        <div class="columns container">
                                            <div class="column is-size-4">
                                                <span v-if="comment.user_email == '[[=current_user_email]]'" @click="delete_comment(comment._idx)">
                                                    <i class="fa fa-trash has-text-danger"></i>
                                                </span>
                                            </div>
                                            <div class="column has-text-right">
                                                {{ comment.user_email }}
                                                <br>
                                                <span class="is-size-7 has-text-grey">
                                                    {{ comment.post_date }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="subtitle"></div>
                                    </div>
                                    <div class="subtitle"></div>
                                </div>
                            </div>
                        </div>

                        <!--Display Comment Input-->
                        <div v-if="row.show_details == true" class="columns">
                            <div class="control column is-three-quarters">
                              <input type="text" v-model="row.add_comment_content" class="input" placeholder="add comment...">
                            </div>
                            <div class="control column has-text-centered is-one-quarter">
                              <input type="submit" @click="add_comment(row._idx)" value="Comment" class="button is-primary">
                            </div>
                        </div>
                        <!--Minimize Post-->
                        <div class="is-size-2 has-text-centered" v-if="row.show_details == true" @click="show_details(row._idx, false)">
                            <i class="fa fa-angle-up has-text-info"></i>
                        </div>

                            <!--Minimize Post-->
                            <div class="is-size-2 has-text-centered" v-if="row.show_details == true" @click="show_details(row._idx, false)">
                                <i class="fa fa-angle-up has-text-info"></i>
                            </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_posts_url = "[[=XML(load_posts_url)]]";
  let load_comments_url = "[[=XML(load_comments_url)]]";
  let load_users_url = "[[=XML(load_users_url)]]";
  let add_comment_url = "[[=XML(add_comment_url)]]";
  let delete_comment_url = "[[=XML(delete_comment_url)]]";
  let edit_comment_url = "[[=XML(edit_comment_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]