[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-3 is-vertical">
            <div class="box">
            <h1 class="title">Search</h1>
            <label class="label">Set Coordinate Location</label>
            <input id="locInp" type="text" class="input is-info">
            <label class="label">Radius</label>
            <input id="distRangeSlider" class="slider is-fullwidth" min="0.5" max="20.0" value="10.0" step="0.5" type="range" onchange="changeDistRangeDisplay(this.value);">
            <br><span id="distRangeDisplay">10</span> mi
            <label class="label">Lost/Found</label>
                <label class="checkbox">
                    <input type="checkbox">
                    Lost
                </label>
                <label class="checkbox">
                    <input type="checkbox">
                    Found
                </label>
            <label class="label">Type Pet</label>
            <div class="field">
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Select Pet Type</option>
                      <option>Dog</option>
                      <option>Cat</option>
                      <option>Bird</option>
                      <option>Bunny</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
              </div>
              <button class="button is-link">Search</button>
            </div>
        </div>
        <div class="column is-mobile">
                <div class="block" v-for="row in pets">
                    <!--Display Pets Section-->
                    <div class="box">
                        <div class="block is-mobile">
                                <div class="card-image">
                                    <img src="../static/images/LostDog.jpg">
                                </div>
                            <h1 class="title">{{ row.pet.pet_name }}</h1>
                            <h2 class="subtitle">
                                <span class="icon">
                                    <i class="fa fa-fw fa-map-marker"></i>
                                </span>
                                {{ row.pet.pet_latlng_square }}
                            </h2>
                        </div>
                    </div>
                </div>
        </div>
        <div class="column is-mobile">
                <div class="block" v-for="row in pets">
                    <!--Display Pets Section-->
                    <div class="box">
                        <div class="block is-mobile">

                            <!--Maximize and minimize functionality-->
                            <div v-if="row.show_details == false" @click="show_details(row._idx, true)">
                                <i class="fa fa-window-maximize has-text-info has-text-right"></i>
                            </div>
                            <div v-if="row.show_details == true" @click="show_details(row._idx, false)">
                                <i class="fa fa-window-minimize has-text-info has-text-right"></i>
                            </div>

                            <div class="card-image">
                                <img src="../static/images/LostDog.jpg">
                            </div>
                            <div class="title">{{ row.pet.pet_name }}</div>
                            <div class="subtitle">
                                <span class="icon">
                                    <i class="fa fa-fw fa-map-marker"></i>
                                </span>
                                {{ row.pet.pet_latlng_square }}
                            </div>
                            <div v-if="row.show_details == true" class="content">
                                {{ row.pet.description }}
                            </div>
                        </div>

                        <!--Display Comments Section-->
                        <div class="block" v-if="row.show_details == true" v-for="comment in comments">
                            <div v-if="comment.pet_id == row.pet.id">
                                <div class="box">
                                    <div class="columns container">
                                        <div class="column">
                                            <div v-if="comment.user_email == '[[=current_user_email]]'">
                                                <div class="control" :class="{'is-loading': comment._state === 'pending'}">
                                                    <input type="text" class="input" v-model="comment.post_text"
                                                            :class="{
                                                                'is-focused': comment._state === 'edit',
                                                                'is-static': comment._state === 'clean',
                                                            }"
                                                           :readonly="comment._state === 'clean'"
                                                           @click="start_edit(comment._idx)"
                                                           @blur="stop_edit(comment._idx)"
                                                    >
                                                </div>
                                            </div>
                                            <div v-if="comment.user_email != '[[=current_user_email]]'">
                                                {{ comment.post_text }}
                                            </div>
                                            <br>
                                            <span class="is-size-7 has-text-grey">
                                                {{ comment.post_date }}
                                            </span>
                                        </div>
                                        <div class="column has-text-right">
                                            {{ comment.user_email }}
                                            <br>
                                            <span v-if="comment.user_email == '[[=current_user_email]]'" @click="delete_comment(comment._idx)">
                                                <i class="fa fa-trash has-text-danger"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Display Comment Input-->
                        <div v-if="row.show_details == true" class="form columns">
                          <div class="field">
                            <div class="control column">
                              <input type="text" v-model="row.add_comment_content" class="input" placeholder="add comment...">
                            </div>
                          </div>
                          <div class="field column">
                            <div class="control">
                              <input type="submit" @click="add_comment(row._idx)" value="Post" class="button is-primary">
                            </div>
                          </div>
                        </div>

                    </div>
                </div>
        </div>
        <div class="column">
            [[for row in pets:]]
            <div class="box">
                <div class="columns block is-mobile">
                    <div class="column card-image">
                        <div class="card-image">
                            <img src="../static/images/LostDog.jpg">
                        </div>
                    </div>

                    <div class="column">
                        <div class="container">
                            <h1 class="title">[[=row.pet.pet_name]]</h1>
                            <div class="columns block is-mobile">
                                <div class="column">
                                <h2 class="subtitle"><span class="icon"><i class="fa fa-fw fa-map-marker"></i></span>[[=row.pet.pet_latlng_square]]</h2>
                                </div>
                                <div class="column">
                                    <p class="title">[[=row.auth_user.first_name]] [[=row.auth_user.last_name]]</p>
                                    <p class="subtitle is-6">[[=row.pet.user_email]]</p>
                                </div>
                            </div>
                        </div>
                        <h6 class="subtitle">Description</h6>
                        <div class="content">
                                [[=row.pet.description]]
                        </div>
                    </div>
                </div>
                [[for comment in comments:]]
                    [[if comment.pet_id == row.pet.id:]]
                    <div class="box">
                        <div class="container">
                            <h1>Pet: [[=comment.pet_id]]</h1>
                            <h2>Post Date: [[=comment.post_date]]</h2>
                            <div class="content">
                                [[=comment.post_text]]
                            </div>
                            <a class="button" href="[[=URL('edit_comment', comment.id, signer=url_signer)]]">
                                <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span>
                            </a>
                            <a class="button" href="[[=URL('delete_comment', comment.id, signer=url_signer)]]">
                                <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
                            </a>
                        </div>
                    </div>
                    [[pass]]
                [[pass]]
                <a class="button" href="[[=URL('add_comment', row.pet.id)]]">
                    <span class="icon"><i class="fa fa-fw fa-plus"></i></span> <span>Add Comment</span>
                </a>
                </div>
            [[pass]]

            <div class="box">
                <div class="columns block is-mobile">
                    <div class="column">
                    <img src="../static/images/LostCat.jpeg">
                    </div>

                    <div class="column">
                        <div class="container">
                            <h1 class="title">KathyMcKathy</h1>
                            <div class="columns block is-mobile">
                                <div class="column">
                                <h2 class="subtitle">Lost @Location</h2>
                                </div>
                                <div class="column">
                                <h2 class="subtitle">User @User</h2>
                                </div>
                            </div>
                        </div>
                        
                        <div class="content">
                            <h6><br>Description</h6>
                            <ul>
                                <li>10-20 lbs</li>
                                <li>Short Hair</li>
                                <li>3 year old</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_posts_url = "[[=XML(load_posts_url)]]";
  let load_comments_url = "[[=XML(load_comments_url)]]";
  let add_comment_url = "[[=XML(add_comment_url)]]";
  let delete_comment_url = "[[=XML(delete_comment_url)]]";
  let edit_comment_url = "[[=XML(edit_comment_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]