[[extend 'layout.html']]

<div class="section">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-3 is-vertical">
            <div class="box">
            <h1 class="title">Search Parameters</h1>
            <label class="label">Radius</label>
            <input class="slider is-fullwidth" step="1" min="0" max="100" value="50" type="range">
            <label class="label">Set Location</label>
            <label class="label">Lost/Found</label>
                <label class="checkbox">
                    <input type="checkbox">
                    Lost
                </label>
                <label class="checkbox">
                    <input type="checkbox">
                    Found
                </label>
            <label class="label">Type Pet</label>
            <div class="field">
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Select Pet Type</option>
                      <option>Dog</option>
                      <option>Cat</option>
                      <option>Fish</option>
                      <option>Bunny</option>
                      <option>Bird</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <div class="columns block is-mobile">
                    <div class="column">
                    <img src="../static/images/LostDog.jpg">
                    </div>

                    <div class="column">
                        <div class="container">
                            <h1 class="title">DoggoMcDoggo</h1>
                            <div class="columns block is-mobile">
                                <div class="column">
                                <h2 class="subtitle">Lost @Location</h2>
                                </div>
                                <div class="column">
                                <h2 class="subtitle">User @User</h2>
                                </div>
                            </div>
                        </div>
                        
                        <div class="content">
                            <h6><br>Description</h6>
                            <ul>
                                <li>10-20 lbs</li>
                                <li>golden retriever</li>
                                <li>1 year old</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns block is-mobile">
                    <div class="column">
                    <img src="../static/images/LostCat.jpeg">
                    </div>

                    <div class="column">
                        <div class="container">
                            <h1 class="title">KathyMcKathy</h1>
                            <div class="columns block is-mobile">
                                <div class="column">
                                <h2 class="subtitle">Lost @Location</h2>
                                </div>
                                <div class="column">
                                <h2 class="subtitle">User @User</h2>
                                </div>
                            </div>
                        </div>
                        
                        <div class="content">
                            <h6><br>Description</h6>
                            <ul>
                                <li>10-20 lbs</li>
                                <li>Short Hair</li>
                                <li>3 year old</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>