[[extend 'layout.html']]

<div class="section" id="vue-target-map">
   <h1 class="title is-1">Map of Lost and Found Pets</h1>
   <div class="columns">
      
      <div class="column">

         <div id="map" style="height: 400px; width: 100%;">
            
         </div>

         <script>

            function initMap(){
               var options = {
                  zoom:12,
                  center: {lat: 36.994799, lng: -122.05844}
               }

               var map = new google.maps.Map(document.getElementById("map"), options);

               const marker = new google.maps.Marker({
                   position: {lat: 36.994799, lng: -122.05844}, 
                   map: map,
                   icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
               });

               const marker2 = new google.maps.Marker({
                   position: {lat: 36.992102, lng: -122.043847}, 
                   map: map,
               });

               const marker3 = new google.maps.Marker({
                   position: {lat: 36.983213, lng: -122.025593}, 
                   map: map,
               });

               const marker4 = new google.maps.Marker({
                   position: {lat: 36.983954, lng:-122.014069}, 
                   map: map,
               });

               const marker5 = new google.maps.Marker({
                   position: {lat: 36.977425, lng: -122.006535}, 
                   map: map,
               });

               const marker6 = new google.maps.Marker({
                   position: {lat: 36.9669, lng: -122.03059}, 
                   map: map,
               });

               const marker7 = new google.maps.Marker({
                   position: {lat: 36.968036, lng: -122.065659}, 
                   map: map,
               });

               const marker8 = new google.maps.Marker({
                   position: {lat: 36.9669555, lng: -122.0305684}, 
                   map: map,
               });

               const marker9 = new google.maps.Marker({
                   position: {lat: 36.9898548, lng: -122.0500853}, 
                   map: map,
               });

               const marker10 = new google.maps.Marker({
                   position: {lat: 36.98, lng: -122.06}, 
                   map: map,
               });

               const marker11 = new google.maps.Marker({
                   position: {lat: 36.99, lng: -122.065}, 
                   map: map,
               });

               const marker12 = new google.maps.Marker({
                   position: {lat: 36.999, lng: -122.0647}, 
                   map: map,
               });
            }
         </script>

         <script async
             src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_WqBF-BSYZ8s1R5zgFOWpPa35eQYq-TM&callback=initMap"
             defer>
         </script>

      </div>
   </div>
</div>
[[block page_scripts]]
<script src="js/map.js"></script>
<script>
   let load_pins_url = "[[=XML(load_pins_url)]]";
</script>
[[end]]